<h2> Create Guardian </h2>
<% if @guardian.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

    <ul>
      <% @guardian.errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for (@guardian) do |g| %>
  <%= render partial: 'form', locals: {g: g} %>
<% end %>
