<h1> User Page </h1>
<%= @users.name %>
<%= @users.email %>
<%= link_to 'Edit', edit_user_path(@users.id) %></br>
<%= link_to 'Delete', user_path(@users.id), :confirm => "Are you sure?", :method => :delete %>
